h1 {text-align: center; color:white; margin-top: 75px; font-style:italic}
h2 {text-align: center; color:white}
p {text-align: center;color:white}
div {text-align: center;color:white}  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center2 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 20%;
    background-color:	#446969 ;
    border-color: #446969;
    margin-bottom: 1px;
    color:rgb(224, 220, 220);
}
.newGameButton{
  margin-left: 25%;
  width: 10%;
  background-color:	#446969 ;
  border-color: #446969;
}
.joinGameButton{
  float:right;
  margin-inline-start: 20.2%;
  width: 10%;
  background-color:	#446969 ;
  border-color: #446969;
}
#canvas{
  background-color: #446969;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 100px;
}
select{
  margin-top: 2px;
  margin-bottom: 7px;
  width:20%;
  text-align-last: center;
  background-color: rgb(159, 158, 158);
}